@using EntityLayer.Concrete
@model List<UserMessage>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Experience Table</h3>
</div>
<!--Table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Sender</th>
                <th scope="col" class="sort" data-sort="status">Title</th>
                <th scope="col" class="sort" data-sort="status">Content</th>
                <th scope="col" class="sort" data-sort="status">Date</th>
                <th scope="col" class="sort" data-sort="status">Status</th>
                <th scope="col">Delete</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MessageId</td>
                    <td>@item.User.UserId</td>
                    <td class="budget">@item.MessageTitle</td>
                    <td>@item.MessageContent</td>
                    <td>@item.MessageDate</td>
                    <td>@item.MessageStatus</td>
                    <td><a href="/Experience/Delete/@item.MessageId" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>